@media (max-width: 320px){
   
    .top{
        height: 130px;
    }
       
    .logo {
        width: 150px;
        height: 120px;
        margin: 0;
    }
    
    .adress{
        width: 175px;
        font-size: 10px;
        color: black;
    }

    .adress a{
        text-decoration: none;
        color: black;
    }
   
    .store{
        height: 60px;
    }
    
    .store a{
        font-size: 22px;
    }
    
    .specialized{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    
    .specialized img{
        width: 250px;
    }
    
    .specialized a{
        font-size: 22px;
        cursor: default;
    }

    .left .qr a{
        width: 0px;
    }
    .left{
        width: 320px;
        align-items: center;
        margin-right: 70px;
    }

    .left .thule {
        margin-top: 25px;
        gap: 20px;
        align-items: center;
    }

    .right{
     margin-left: 35px;   
    }

    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .left .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .bottom{
        height: 175px;
        flex-direction: column;
    }

    .bottom h2{
        font-size: 18px;
        margin-bottom: 5px;
        text-indent: 20px;
    }
     
    .info{
        margin-left: 55px;
        border-right: none;
        border-bottom: 2px solid black;
        width: 300px;
        height: 120px;
    }
    .info p{
        text-indent: 40px;
    }
    
    .social-media{
        height: 100px;
    }
    
    .fa-shopping-cart{
        margin-right: 10px;
        font-size: 20px;
    }
}

@media (min-width: 321px) and (max-width: 375px){
    
    .top{
        margin: 0;
        display: flex;
        width: 100vw;
        height: 120px;
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
    }
    
    header{
        align-items: center;
        justify-content: center;
    }
    
    .top img{
        width: 150px;
        height: 100px;
    }

    .logo {
        margin: 0;
        width: 50vw;
    }
    
    .adress{
        margin: 0;
        width: 50vw;
        font-size: 10px;
        color: black;
    }

    .adress a{
        text-decoration: none;
        color: black;
    }
   
    .store{
        height: 60px;
    }
    
    .store a{
        font-size: 22px;
    }
    
    .specialized{
        height:500px;
        display: flex;
        flex-direction: column;
    }
    
    .specialized img{
        width: 250px;
    }
    
    .specialized a{
        font-size: 22px;
        cursor: default;
    }

    .left{
        gap:20px;
        align-items: center;
    }

    .left .thule {
        margin-top: 25px;
        gap: 20px;
        align-items: center;
    }

    .right{
     margin-left: 62.5px;   
    }

    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .left .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .bottom{
        height: 200px;
        flex-direction: column;
        align-items: center;
    }

    .bottom h2{
        font-size: 18px;
        margin-bottom: 5px;
        text-indent: 15px;
    }
     
    .info{
        border-right: none;
        border-bottom: 2px solid black;
        width: 90vw;
        height: 100px;
        margin: 0;
    }
    
    .social-media{
        height: 100px;
    }
    
    .fa-shopping-cart{
        margin-right: 10px;
        font-size: 20px;
    }
}

@media (min-width: 376px) and (max-width: 425px){
    
    .top{
        margin: 0;
        display: flex;
        width: 100vw;
        height: 120px;
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
    }
    
    header{
        align-items: center;
        justify-content: center;
    }

    .top img{
        width: 188px;
        height: 100px;
    }

    .logo {
        margin: 0;
        width: 50vw;
    }

    .adress{
        width: 50vw;
        font-size: 10px;
        color: black;
    }

    .adress a{
        text-decoration: none;
        color: black;
    }
   
    .store{
        height: 60px;
    }

    .store a{
        font-size: 22px;
    }
    
    .specialized{
        height:500px;
        display: flex;
        flex-direction: column;
    }
    
    .specialized img{
        width: 250px;
    }
    
    .specialized a{
        font-size: 22px;
        cursor: default;
    }

    .left{
        gap:0px; 
    }

    .left .thule {
        margin-top: 25px;
        gap: 20px;
        align-items: center;
    }

    .right{
        margin-left: 87.5px;   
    }

    .left .qr{
        width: 0;
    }

    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .bottom{
        height: 200px;
        flex-direction: column;
    }

    .bottom h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-indent: 20px;
    }
     
    .info{
        margin-left: 55px;
        border-right: none;
        border-bottom: 2px solid black;
        width: 340px;
        height: 100px;
    }

    .social-media{
        height: 100px;
    }
    
    .fa-shopping-cart{
        margin-right: 10px;
        font-size: 20px;
    }
}

@media(min-width: 426px) and (max-width: 677px){
    
    .top{
        margin: 0;
        display: flex;
        width: 100vw;
        height: 120px;
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
    }
    
    header{
        align-items: center;
        justify-content: center;
    }
    
    .logo {
        width: 212.5px;
        height: 100px;
        margin: 0;
    }

    .adress{
        width: 212.5px;
        font-size: 10px;
        color: black;
    }

    .adress a{
        text-decoration: none;
        color: black;
    }
   
    .store{
        height: 60px;
    }

    .store a{
        font-size: 22px;
    }
    
    .specialized{
        height:500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .specialized img{
        width: 250px;
    }
    
    .specialized a{
        font-size: 22px;
        cursor: default;
    }

    .left{
        gap:0px;
        width: 50vw; 
        margin: 0;
        justify-content: center;
    }

    .left .thule {
        margin-top: 25px;
        gap: 20px;
        align-items: center;
    }

    .right{
        display: flex;
        margin: 0;
        width: 50vw;
        justify-content: center;
        align-items: center;
    }

    .right .s-logo{
        align-items: center;
    }

    .right .bike {
        width: 0;
    }


    .left .qr{
        width: 0;
    }

    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .bottom{
        height: 200px;
        flex-direction: column;
    }

    .bottom h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-indent: 20px;
    }
     
    .info{
        margin-left: 55px;
        border-right: none;
        border-bottom: 2px solid black;
        width: 340px;
        height: 100px;
    }

    .social-media{
        height: 100px;
    }
    
    .fa-shopping-cart{
        margin-right: 10px;
        font-size: 20px;
    }
}     

@media (min-width: 678px) and (max-width: 768px){
    
    .top{
        height: 150px;
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
    }

    .top img{
        width: 339px;
        height: 150px;
    }

    .logo{
        margin: 0;
    }

    .adress{
        width: 50vw;
        font-size: 14px;
    }

    .store{
        height: 80px;
    }
    .store a{
        font-size: 28px;
    }
    
    .specialized{
        height:400px;
        display: flex;
        flex-direction: row;
    }
    
    .specialized img{
        margin-left: 67px;
        width: 250px;
    }
    
    .specialized a{
        font-size: 22px;
    }
    
    .left{
        gap:20px;
        align-items: center;
    }
    
    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

     .bottom{
        height: 150px;
        justify-content: center;
        align-items: center;
    } 

    .bottom h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-indent: 20px;
    }  
    
    .info{
        width: 50vw;
        margin-right: 10px;
        border: 0;
    }

    .social-media{
     width: 50vw;  
     height: 120px;
     border-left: 2px solid black; 
    }

    .fa-shopping-cart{
        margin-right: 10px;
        font-size: 26px;
    }    
}

@media (min-width: 769px) and (max-width: 1024px){

    .top{
        height: 150px;
        background-color: lightgrey;
        align-items: center;
        justify-content: center;
    }

    .top img{
        width: 385px;
        height: 150px;
    }
    
    .logo{
        margin: 0;
    }

    .adress{
        margin: 0;
        width: 50vw;
        font-size: 14px;
        margin-left: 30px;
    }

    .bottom{
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .bottom h2{
        font-size: 20px;
        margin-bottom: 5px;
        text-indent: 20px;
    }

    .info{
        width: 50vw;
        font-size: 16px;
    }

    .social-media{
        gap: 55px;
    }
    
    .social-media i{
        scale: 3;
    }

    .s-logo{
        scale: 85%;
    }

    .bike{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .qr{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    /* .bike{
        position: absolute;
        margin-top: 60px;
        scale: 85%;
        transform: translateX(-80px);    
    }

    @keyframes go-foward{
        from{
        transform: translateX(-290px);
        }
        to{
        transform: translateX(-80px);
        }
    }

    .qr{
        width: 70px;
    }

    .left{
        gap: 30px;   
    } */
} 

@media (min-width: 1025px) and (max-width: 1207px){
    
    .top img{
        scale:85%;
    }

    .s-logo{
        scale: 85%;
    }

    .bike{
        position: absolute;
        margin-top: 60px;
        scale: 85%;
        transform: translateX(-80px);    
    }

    @keyframes go-foward{
        from{
        transform: translateX(-290px);
        }
        to{
        transform: translateX(-80px);
        }
    }

    .left{
        gap: 30px;   
    }

    .info{
        margin: 0;
        margin-top: 5px;
        font-size: 20px;
        width: 50vw;    
    }

    .info h2{
        margin: 0;
    }
    
    .social-media{
        width: 40vw;
        gap: 60px;
    }
    .social-media i{
        scale: 3;
    }
}

@media (min-width: 1208px) and (max-width: 1440px){
    
.top img{
    scale:85%;
}

.adress{
    width: 40vw;
    font-size: 20px;
}

.s-logo{
    scale: 90%;
}

.bike{
    scale: 85%;
}

.bike{
    position: absolute;
    margin-top: 80px;
    scale: 85%;
    transform: translateX(-50px);
    
}

@keyframes go-foward{
    from{
    transform: translateX(-320px);
    }
    to{
    transform: translateX(-50px);
    }
}

 .info{
    margin: 0;
    margin-top: 5px;
    font-size: 22px;
    width: 50vw;
}

.info h2{
    margin: 0;
}

.social-media{
    width: 40vw;
    gap: 60px;   
}

.social-media i{
    scale: 3;
}

}

@media (min-width: 1441px){
    .top img{
        scale:85%;
    }   

    .bottom{
        align-items: center;
        justify-content: center;
    }
    .info{
        margin: 0;
        margin-top: 5px;
        font-size: 22px;
        width: 35vw;
        align-items: center;
    }
    
    .info h2{
        width: 40vw;
        margin: 0;
    }

    .info p{
        width: 40vw;
    }
    
    .social-media{
        width: 25vw;
        gap: 60px;
    }
    .social-media i{
        scale: 3;
    }
}